<a href="https://colab.research.google.com/github/ViniciusARZ/Data-Structures-and-Algorithms/blob/main/Tranformation%20ETLs/Slang's_CAC_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Gspread Usual Stack
!pip install -q --upgrade gspread
!pip install -q pandas
!pip install -q -U -q PyDrive
!pip install -q datetime
!pip install -q pendulum
!pip install -q matplotlib


import gspread
from oauth2client.client import GoogleCredentials
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
import datetime
import pendulum

gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Costs

## Employees

In [3]:
#Importing from the Outreach Extras
sheets = gc.open_by_key('1_mwE9cKPmfzSBYUqbf1Ttzwcp5vuLDmYy0mjx3vHFQA')
sheets_data_weights = sheets.worksheet('Weight')
sheets_rows_weights = sheets_data_weights.get_all_values()
weights = pd.DataFrame.from_records(sheets_rows_weights[1:],columns=sheets_rows_weights[0])
weights = weights.replace('',0).astype({'Prospecting':'float','Outreach':'float','Demo':'float','Pilot':'float',
                                            'MQL':'float','SQL':'float','Opp.':'float','Deal':'float','B2B':'float','B2C':'float'})
weights['Start_Month'] = pd.to_datetime(weights['Start_Month'])
weights['End_Month'] = pd.to_datetime(weights['End_Month'])
weights.head(3)

,Start_Month,End_Month,Area,Title,Prospecting,Outreach,Demo,Pilot,MQL,SQL,Opp.,Deal,B2B,B2C
0,2018-01-01,2018-12-01,Business Development,BDR Manager,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2018-01-01,2018-12-01,Business Development,Business Development Intern,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2018-01-01,2018-12-01,Business Development,Business Development Representative,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
sheets_data_values = sheets.worksheet('Values')
sheets_rows_values = sheets_data_values.get_all_values()
values = pd.DataFrame.from_records(sheets_rows_values[1:],columns=sheets_rows_values[0])
values['Date'] = pd.to_datetime(values['Date'])
values[values['Position']=='Head of Sales'].head(3)

,Bad Date,Country,Year,Month,Position,SALARY,Date,Area,Comissions
17,1/1/2020,COL,2020,Jan,Head of Sales,7649.48,2020-01-01,Sales,3645.96
44,1/1/2020,BRA,2020,Jan,Head of Sales,0.00,2020-01-01,Sales,0.00
71,1/1/2020,MEX,2020,Jan,Head of Sales,0.00,2020-01-01,Sales,0.00

In [5]:
values['SALARY'] = pd.to_numeric(values['SALARY'])
values['Comissions'] = pd.to_numeric(values['Comissions'])

In [6]:
merge = values.merge(weights, left_on = 'Position', right_on = 'Title', how='left')
merge = merge.loc[(merge['Date'] >= merge['Start_Month']) & (merge['Date'] < merge['End_Month'])].drop_duplicates()

merge['Salary + Comission'] = merge['SALARY'] + merge['Comissions'] 

#wc = weighted spend
merge['B2B WS'] = merge['Salary + Comission']*merge['B2B']
merge['B2C WS'] = merge['Salary + Comission']*merge['B2C']

merge['MQL WS'] = merge['Salary + Comission']*merge['MQL']
merge['SQL WS'] = merge['Salary + Comission']*merge['SQL']
merge['OPP WS'] = merge['Salary + Comission']*merge['Opp.']

merge['Opportunity Total WS'] = merge['MQL WS'] + merge['SQL WS'] + merge['OPP WS']
merge['Deal WS'] = merge['Salary + Comission']*merge['Deal']

merge['Marketing Cost'] = np.where(merge['Area_x']=='Marketing',merge['MQL WS']+merge['SQL WS']+merge['OPP WS']+merge['Deal WS']+merge['B2C WS']+merge['B2B WS'],0)

merge['Sales Cost'] = (merge['Opportunity Total WS'] + merge['Deal WS']) - merge['Marketing Cost']

In [7]:
merge['Month - Year'] = merge['Date'].dt.strftime('%Y-%m')

merge[['Month - Year','Salary + Comission','B2B WS','B2C WS','MQL WS',
        'SQL WS','OPP WS','Opportunity Total WS','Deal WS','Marketing Cost','Sales Cost']].groupby('Month - Year').sum().reset_index()

,Month - Year,Salary + Comission,B2B WS,B2C WS,MQL WS,SQL WS,OPP WS,Opportunity Total WS,Deal WS,Marketing Cost,Sales Cost
0,2020-01,66937.00,56649.9640,10287.0360,13072.450,19574.430,13716.0480,46362.9280,10287.0360,8185.96,48464.0040
1,2020-02,71202.81,59986.2240,11216.5860,13881.095,19933.095,14955.4480,48769.6380,11216.5860,9768.90,50217.3240
2,2020-03,75226.45,63529.5340,11696.9160,13901.615,22335.115,15595.8880,51832.6180,11696.9160,9140.28,54389.2540
3,2020-04,68211.54,55427.7420,12783.7980,9839.850,15759.030,17045.0640,42643.9440,12783.7980,6218.82,49208.9220
4,2020-05,46476.98,39970.0730,6506.9070,9468.630,15318.660,8675.8760,33463.1660,6506.9070,6937.10,33032.9730
5,2020-06,58603.99,48899.4250,9704.5650,11482.180,14773.260,12939.4200,39194.8600,9704.5650,7767.94,41131.4850
6,2020-07,59309.99,48235.7750,11074.2150,10430.970,11964.970,14765.6200,37161.5600,11074.2150,7467.98,40767.7950
7,2020-08,62233.14,52225.5870,10007.5530,14512.430,14362.200,13343.4040,42218.0340,10007.5530,10039.72,42185.8670
8,2020-09,59629.53,49856.3730,9773.1570,14260.210,12792.130,13030.8760,40083.2160,9773.1570,8140.24,41716.1330
9,2020-10,67988.92,55964.3560,12024.5640,12998.070,14908.970,16032.7520,43939.7920,12024.5640,8196.14,47768.2160
10,2020-11,59327.31,49897.8210,9429.4890,14382.580,13513.100,12572.6520,40468.3320,9429.4890,8576.44,41321.3810
11,2021-02,80282.39,58943.3366,21339.0534,14739.190,14735.930,17782.5445,47257.6645,11685.6721,4252.98,54690.3566
12,2021-04,106613.49,80588.6078,25103.5722,23289.530,23553.550,20919.6435,67762.7235,13747.1943,19503.82,62006.0978
13,2021-05,94411.01,74100.9744,18895.6656,27140.390,22280.940,15746.3880,65167.7180,10347.6264,23213.14,52302.2044
14,2021-06,103871.57,80579.0466,21928.1034,28151.870,23509.930,18273.4195,69935.2195,12008.2471,23711.46,58232.0066
15,2021-07,111326.99,85028.2004,24908.2596,27519.240,24502.370,20756.8830,72778.4930,13640.2374,24145.48,62273.2504
16,2021-08,113716.28,86812.5418,25288.9182,30267.550,23237.020,21074.0985,74578.6685,13848.6933,22247.62,66179.7418
17,2021-09,105738.20,81399.6742,22565.7558,26899.140,25111.070,18804.7965,70815.0065,12357.4377,22194.06,60978.3842
18,2021-10,105632.62,81364.6176,23902.5024,24678.720,24043.180,19918.7520,68640.6520,13089.4656,22277.22,59452.8976
19,2021-11,107382.78,82340.2776,24688.1124,24953.650,23647.910,20573.4270,69174.9870,13519.6806,21876.94,60817.7276
20,2022-01,118204.50,93274.7796,24929.7204,44844.990,25417.740,14382.5310,84645.2610,8629.5186,57603.46,35671.3196
21,2022-02,112497.76,83853.7888,28643.9712,32007.450,25405.750,16525.3680,73938.5680,9915.2208,27237.36,56616.4288
22,2022-03,150632.35,109130.5104,41501.8396,35615.200,35205.920,23943.3690,94764.4890,14366.0214,25593.26,83537.2504
23,2022-04,140215.86,96358.8572,43857.0028,29743.850,26131.620,25302.1170,81177.5870,15181.2702,13128.76,83230.0972
24,2022-05,177719.36,117006.1256,60713.2344,26954.160,34008.980,35026.8660,95990.0060,21016.1196,11264.88,105741.2456
25,2022-06,134912.66,99692.3580,35220.3020,34161.970,33019.340,20319.4050,87500.7150,12191.6430,14427.02,85265.3380
26,2022-07,179203.67,128165.2228,51038.4472,39315.060,41737.750,29445.2580,110498.0680,17667.1548,17523.34,110641.8828
27,2022-08,141311.01,102648.7656,38662.2444,34860.100,32100.440,22305.1410,89265.6810,13383.0846,15797.10,86851.6656
28,2022-09,142796.91,106426.6020,36370.3080,36982.080,35871.930,20982.8700,93836.8800,12589.7220,18810.10,87616.5020
29,2022-10,0.00,0.0000,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.00,0.0000
30,2022-11,0.00,0.0000,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.00,0.0000

## Tools

In [23]:
sheets_data_weights_tools = sheets.worksheet('Weight Tools')
sheets_rows_weights_tools = sheets_data_weights_tools.get_all_values()
weights_tools = pd.DataFrame.from_records(sheets_rows_weights_tools[1:],columns=sheets_rows_weights_tools[0])
weights_tools = weights_tools.replace('',0).astype({'Prospecting':'float','Outreach':'float','Demo':'float','Pilot':'float',
                                            'MQL':'float','SQL':'float','Opp.':'float','Deal':'float','B2B':'float','B2C':'float'})
weights_tools['Start_Month'] = pd.to_datetime(weights_tools['Start_Month'])
weights_tools['End_Month'] = pd.to_datetime(weights_tools['End_Month'])
weights_tools.head(3)

,Start_Month,End_Month,Area,Tool,Prospecting,Outreach,Demo,Pilot,MQL,SQL,Opp.,Deal,B2B,B2C
0,2018-01-01,2018-12-01,Marketing,Google,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2018-01-01,2018-12-01,Marketing,Hubspot Marketing,0.33,0.33,0.33,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2018-01-01,2018-12-01,Business Development,Mailshake.com,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
sheets_data_values_tools = sheets.worksheet('Values Tools')
sheets_rows_values_tools = sheets_data_values_tools.get_all_values()
values_tools = pd.DataFrame.from_records(sheets_rows_values_tools[1:],columns=sheets_rows_values_tools[0])
values_tools['Date'] = pd.to_datetime(values_tools['Date'])
values_tools.head(3)

        Date                  Area               Tool    Value
0 2018-01-01             Marketing             Google  1154.00
1 2018-01-01             Marketing  Hubspot Marketing   226.00
2 2018-01-01  Business Development      Mailshake.com    46.00

In [25]:
values_tools['Value'] = pd.to_numeric(values_tools['Value'])

merge_tools = values_tools.merge(weights_tools, left_on = 'Tool', right_on = 'Tool', how='left')
merge_tools = merge_tools.loc[(merge_tools['Date'] >= merge_tools['Start_Month']) & (merge_tools['Date'] < merge_tools['End_Month'])].drop_duplicates()

merge_tools['B2B WS'] = merge_tools['Value']*merge_tools['B2B']
merge_tools['B2C WS'] = merge_tools['Value']*merge_tools['B2C']

merge_tools['MQL WS'] = merge_tools['Value']*merge_tools['MQL']
merge_tools['SQL WS'] = merge_tools['Value']*merge_tools['SQL']
merge_tools['OPP WS'] = merge_tools['Value']*merge_tools['Opp.']

merge_tools['Opportunity Total WS'] = merge_tools['MQL WS'] + merge_tools['SQL WS'] + merge_tools['OPP WS']
merge_tools['Deal WS'] = merge_tools['Value']*merge_tools['Deal']

merge_tools['Marketing Cost'] = np.where(merge_tools['Area_x']=='Marketing',merge_tools['MQL WS']+merge_tools['SQL WS']+
                                          merge_tools['OPP WS']+merge_tools['Deal WS']+merge_tools['B2C WS']+merge_tools['B2B WS'],0)

merge_tools['Sales Cost'] = (merge_tools['Opportunity Total WS'] + merge_tools['Deal WS']) - merge_tools['Marketing Cost']

In [26]:
merge_tools['Month - Year'] = merge_tools['Date'].dt.strftime('%Y-%m')

merge_tools[['Month - Year','Value','B2B WS','B2C WS','MQL WS',
        'SQL WS','OPP WS','Opportunity Total WS','Deal WS','Marketing Cost','Sales Cost']].groupby('Month - Year').sum().reset_index()

,Month - Year,Value,B2B WS,B2C WS,MQL WS,SQL WS,OPP WS,Opportunity Total WS,Deal WS,Marketing Cost,Sales Cost
0,2018-01,2779.44,1605.44,1174.0,0.0000,0.0000,0.0000,0.0000,0.0000,1380.00,-1380.00
1,2018-02,3932.44,1412.44,2520.0,0.0000,0.0000,0.0000,0.0000,0.0000,2500.00,-2500.00
2,2018-03,2778.44,1258.44,1520.0,0.0000,0.0000,0.0000,0.0000,0.0000,1500.00,-1500.00
3,2018-04,2859.00,1339.00,1520.0,0.0000,0.0000,0.0000,0.0000,0.0000,1500.00,-1500.00
4,2018-05,4360.00,1340.00,3020.0,0.0000,0.0000,0.0000,0.0000,0.0000,3000.00,-3000.00
5,2018-06,11368.00,1848.00,9520.0,0.0000,0.0000,0.0000,0.0000,0.0000,9900.00,-9900.00
6,2018-07,8024.00,1504.00,6520.0,0.0000,0.0000,0.0000,0.0000,0.0000,6160.00,-6160.00
7,2018-08,5911.00,1391.00,4520.0,0.0000,0.0000,0.0000,0.0000,0.0000,4500.00,-4500.00
8,2018-09,4442.00,922.00,3520.0,0.0000,0.0000,0.0000,0.0000,0.0000,3500.00,-3500.00
9,2018-10,3869.00,849.00,3020.0,0.0000,0.0000,0.0000,0.0000,0.0000,3000.00,-3000.00
10,2018-11,4743.00,723.00,4020.0,0.0000,0.0000,0.0000,0.0000,0.0000,4000.00,-4000.00
11,2019-01,5219.00,5219.00,0.0,4865.7500,122.7500,115.2500,5103.7500,115.2500,9000.00,-3781.00
12,2019-02,4413.00,4413.00,0.0,3873.7500,127.7500,205.7500,4207.2500,205.7500,7000.00,-2587.00
13,2019-03,3344.00,3344.00,0.0,2808.7500,128.7500,203.2500,3140.7500,203.2500,5000.00,-1656.00
14,2019-04,2929.00,2929.00,0.0,1818.7500,456.7500,326.7500,2602.2500,326.7500,3000.00,-71.00
15,2019-05,1872.00,1872.00,0.0,868.7500,352.7500,325.2500,1546.7500,325.2500,1016.00,856.00
16,2019-06,3221.80,3092.40,0.0,1789.7500,610.1500,346.2500,2746.1500,346.2500,2786.00,306.40
17,2019-07,3101.80,2972.40,0.0,1666.5000,662.9000,321.5000,2650.9000,321.5000,2510.00,462.40
18,2019-08,3654.80,3525.40,0.0,2462.0000,591.4000,236.0000,3289.4000,236.0000,4238.00,-712.60
19,2019-09,7159.80,7030.40,0.0,3782.5000,758.9000,1244.5000,5785.9000,1244.5000,6632.00,398.40
20,2019-10,6102.00,5973.00,0.0,4381.2500,838.2500,376.7500,5596.2500,376.7500,7810.00,-1837.00
21,2019-11,9258.00,9129.00,0.0,6187.2500,987.2500,977.2500,8151.7500,977.2500,11402.00,-2273.00
22,2019-12,8051.00,7852.00,0.0,5931.0000,905.0000,508.0000,7344.0000,508.0000,10674.00,-2822.00
23,2020-01,6193.96,5994.96,0.0,4345.4200,838.7400,405.4000,5589.5600,405.4000,7678.34,-1683.38
24,2020-02,7908.00,7709.00,0.0,5056.2500,953.2500,849.7500,6859.2500,849.7500,9120.00,-1411.00
25,2020-03,5416.00,5217.00,0.0,3497.5000,1048.5000,335.5000,4881.5000,335.5000,5892.00,-675.00
26,2020-04,4818.02,4619.02,0.0,2923.0200,989.0000,353.5000,4265.5200,353.5000,4872.04,-253.02
27,2020-05,6312.00,6113.00,0.0,3561.0000,837.0000,857.5000,5255.5000,857.5000,5944.00,169.00
28,2020-06,4943.35,4744.35,0.0,3268.8500,794.5000,340.5000,4403.8500,340.5000,5652.70,-908.35
29,2020-07,5175.03,4926.03,0.0,3301.3575,928.5175,348.0775,4577.9525,348.0775,5689.46,-763.43
30,2020-08,5264.00,5015.00,0.0,3365.5000,917.5000,366.0000,4649.0000,366.0000,5734.00,-719.00
31,2020-09,8351.72,7993.75,0.0,4379.8350,1133.5850,1240.1650,6753.5850,1240.1650,7337.12,656.63
32,2020-10,7466.66,7027.67,0.0,5303.9075,987.8075,367.9775,6659.6925,367.9775,9270.26,-2242.59
33,2020-11,7726.87,7310.38,0.0,5636.2275,905.3775,384.3875,6925.9925,384.3875,9517.94,-2207.56
34,2021-01,11416.00,11217.00,0.0,7299.0000,2206.0000,856.0000,10361.0000,856.0000,11616.00,-399.00
35,2021-02,7861.00,7662.00,0.0,4275.0000,2225.0000,581.0000,7081.0000,581.0000,6346.00,1316.00
36,2021-03,14904.65,13304.65,0.0,7849.7500,2168.5000,1643.2000,11661.4500,1643.2000,12174.50,1130.15
37,2021-04,10630.69,10431.69,0.0,7156.6950,2064.2950,605.3500,9826.3400,605.3500,11498.64,-1066.95
38,2021-05,10519.64,10271.20,0.0,6866.7650,2160.5750,621.9300,9649.2700,621.9300,10942.14,-670.94
39,2021-07,9150.57,8851.57,0.0,5564.7350,1985.3650,650.7350,8200.8350,650.7350,7418.00,1433.57
40,2021-08,7326.00,7027.00,0.0,4025.2500,1996.2500,502.7500,6524.2500,502.7500,5396.00,1631.00
41,2021-09,11122.50,10823.50,0.0,4967.2500,2520.0000,1668.1250,9155.3750,1668.1250,6530.50,4293.00
42,2021-10,7386.00,7087.00,0.0,4362.5000,1717.5000,503.5000,6583.5000,503.5000,5468.00,1619.00
43,2021-11,7179.96,6880.96,0.0,3798.9025,2027.1825,527.4375,6353.5225,527.4375,1742.56,5138.40
44,2022-01,3866.00,3866.00,0.0,1465.7500,1103.5500,648.3500,3217.6500,648.3500,598.00,3268.00
45,2022-02,10489.14,10489.14,0.0,4108.2650,2479.6250,1950.6250,8538.5150,1950.6250,717.28,9771.86
46,2022-03,19340.26,19340.26,0.0,12060.3850,2466.0250,2406.9250,16933.3350,2406.9250,16309.52,3030.74
47,2022-04,12790.00,12790.00,0.0,5291.0000,2577.2000,2460.9000,10329.1000,2460.9000,3014.00,9776.00
48,2022-05,13241.00,13241.00,0.0,5519.2500,2572.4500,2574.6500,10666.3500,2574.6500,3178.00,10063.00
49,2022-06,15041.00,15041.00,0.0,7517.0000,2466.6000,2528.7000,12512.3000,2528.7000,3468.00,11573.00
50,2022-07,16724.27,16724.27,0.0,9109.2700,2468.0000,2573.5000,14150.7700,2573.5000,6686.54,10037.73
51,2022-08,15599.81,15599.81,0.0,7737.8100,2596.6000,2632.7000,12967.1100,2632.7000,3901.62,11698.19
52,2022-09,15150.58,15150.58,0.0,7586.5800,2740.6000,2411.7000,12738.8800,2411.7000,3599.16,11551.42

## Others

In [27]:
sheets_data_weights_others = sheets.worksheet('Weight Others')
sheets_rows_weights_others = sheets_data_weights_others.get_all_values()
weights_others = pd.DataFrame.from_records(sheets_rows_weights_others[1:],columns=sheets_rows_weights_others[0])
weights_others = weights_others.replace('',0).astype({'Prospecting':'float','Outreach':'float','Demo':'float','Pilot':'float',
                                            'MQL':'float','SQL':'float','Opp.':'float','Deal':'float','B2B':'float','B2C':'float'})
weights_others['Start_Month'] = pd.to_datetime(weights_others['Start_Month'])
weights_others['End_Month'] = pd.to_datetime(weights_others['End_Month'])
weights_others.head(3)

,Start_Month,End_Month,Area,Tool,Prospecting,Outreach,Demo,Pilot,MQL,SQL,Opp.,Deal,B2B,B2C
0,2018-01-01,2023-12-01,Marketing,Extra Marketing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,2018-01-01,2023-12-01,Sales,Travel Expenses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,2018-01-01,2023-12-01,Sales,Prof. and Outsourced Services,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [28]:
sheets_data_values_others = sheets.worksheet('Values Others')
sheets_rows_values_others = sheets_data_values_others.get_all_values()
values_others = pd.DataFrame.from_records(sheets_rows_values_others[1:],columns=sheets_rows_values_others[0])
values_others['Date'] = pd.to_datetime(values_others['Date'])
values_others.head(3)

        Date   Area             Tool    Value
0 2020-01-01  Sales  Travel Expenses   469.00
1 2020-02-01  Sales  Travel Expenses  1112.00
2 2020-03-01  Sales  Travel Expenses   149.00

In [29]:
values_others['Value'] = pd.to_numeric(values_others['Value'])

merge_others = values_others.merge(weights_others, left_on = 'Tool', right_on = 'Tool', how='left')
merge_others = merge_others.loc[(merge_others['Date'] >= merge_others['Start_Month']) & (merge_others['Date'] < merge_others['End_Month'])].drop_duplicates()

merge_others['B2B WS'] = merge_others['Value']*merge_others['B2B']
merge_others['B2C WS'] = merge_others['Value']*merge_others['B2C']

merge_others['MQL WS'] = merge_others['Value']*merge_others['MQL']
merge_others['SQL WS'] = merge_others['Value']*merge_others['SQL']
merge_others['OPP WS'] = merge_others['Value']*merge_others['Opp.']

merge_others['Opportunity Total WS'] = merge_others['MQL WS'] + merge_others['SQL WS'] + merge_others['OPP WS']
merge_others['Deal WS'] = merge_others['Value']*merge_others['Deal']

merge_others['Marketing Cost'] = np.where(merge_others['Area_x']=='Marketing',merge_others['MQL WS']+merge_others['SQL WS']+
                                          merge_others['OPP WS']+merge_others['Deal WS']+merge_others['B2C WS']+merge_others['B2B WS'],0)

merge_others['Sales Cost'] = (merge_others['Opportunity Total WS'] + merge_others['Deal WS']) - merge_others['Marketing Cost']

In [30]:
merge_others

,Date,Area_x,Tool,Value,Start_Month,End_Month,Area_y,Prospecting,Outreach,Demo,...,B2C,B2B WS,B2C WS,MQL WS,SQL WS,OPP WS,Opportunity Total WS,Deal WS,Marketing Cost,Sales Cost
0,2020-01-01,Sales,Travel Expenses,469.00,2018-01-01,2023-12-01,Sales,0.0,0.0,0.0,...,0.0,469.00,0.00,0.0,0.0,0.0,0.0,469.0,0.00,469.00
1,2020-02-01,Sales,Travel Expenses,1112.00,2018-01-01,2023-12-01,Sales,0.0,0.0,0.0,...,0.0,1112.00,0.00,0.0,0.0,0.0,0.0,1112.0,0.00,1112.00
2,2020-03-01,Sales,Travel Expenses,149.00,2018-01-01,2023-12-01,Sales,0.0,0.0,0.0,...,0.0,149.00,0.00,0.0,0.0,0.0,0.0,149.0,0.00,149.00
3,2020-04-01,Sales,Travel Expenses,-52.00,2018-01-01,2023-12-01,Sales,0.0,0.0,0.0,...,0.0,-52.00,-0.00,-0.0,-0.0,-0.0,-0.0,-52.0,0.00,-52.00
4,2020-05-01,Sales,Travel Expenses,5.00,2018-01-01,2023-12-01,Sales,0.0,0.0,0.0,...,0.0,5.00,0.00,0.0,0.0,0.0,0.0,5.0,0.00,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2022-05-01,Marketing,Extra Marketing,2156.00,2018-01-01,2023-12-01,Marketing,0.0,0.0,0.0,...,1.0,2156.00,2156.00,0.0,0.0,0.0,0.0,0.0,4312.00,-4312.00
95,2022-06-01,Marketing,Extra Marketing,2604.15,2018-01-01,2023-12-01,Marketing,0.0,0.0,0.0,...,1.0,2604.15,2604.15,0.0,0.0,0.0,0.0,0.0,5208.30,-5208.30
96,2022-07-01,Marketing,Extra Marketing,5911.00,2018-01-01,2023-12-01,Marketing,0.0,0.0,0.0,...,1.0,5911.00,5911.00,0.0,0.0,0.0,0.0,0.0,11822.00,-11822.00
97,2022-08-01,Marketing,Extra Marketing,4424.00,2018-01-01,2023-12-01,Marketing,0.0,0.0,0.0,...,1.0,4424.00,4424.00,0.0,0.0,0.0,0.0,0.0,8848.00,-8848.00
98,2022-09-01,Marketing,Extra Marketing,8380.26,2018-01-01,2023-12-01,Marketing,0.0,0.0,0.0,...,1.0,8380.26,8380.26,0.0,0.0,0.0,0.0,0.0,16760.52,-16760.52

In [31]:
merge_others['Month - Year'] = merge_others['Date'].dt.strftime('%Y-%m')

merge_others[['Month - Year','Value','B2B WS','B2C WS','MQL WS',
        'SQL WS','OPP WS','Opportunity Total WS','Deal WS','Marketing Cost','Sales Cost']].groupby('Month - Year').sum().reset_index()

,Month - Year,Value,B2B WS,B2C WS,MQL WS,SQL WS,OPP WS,Opportunity Total WS,Deal WS,Marketing Cost,Sales Cost
0,2020-01,5684.00,5684.00,1343.00,0.0,0.0,0.0,0.0,4341.00,2686.00,1655.00
1,2020-02,6589.00,6589.00,1756.00,0.0,0.0,0.0,0.0,4833.00,3512.00,1321.00
2,2020-03,6161.95,6161.95,1177.95,0.0,0.0,0.0,0.0,4984.00,2355.90,2628.10
3,2020-04,3317.81,3317.81,0.00,0.0,0.0,0.0,0.0,3317.81,0.00,3317.81
4,2020-05,4873.19,4873.19,0.00,0.0,0.0,0.0,0.0,4873.19,0.00,4873.19
5,2020-06,2732.00,2732.00,523.00,0.0,0.0,0.0,0.0,2209.00,1046.00,1163.00
6,2020-07,2395.33,2395.33,0.00,0.0,0.0,0.0,0.0,2395.33,0.00,2395.33
7,2020-08,2512.00,2512.00,0.00,0.0,0.0,0.0,0.0,2512.00,0.00,2512.00
8,2020-09,3911.00,3911.00,0.00,0.0,0.0,0.0,0.0,3911.00,0.00,3911.00
9,2020-10,3283.00,3283.00,0.00,0.0,0.0,0.0,0.0,3283.00,0.00,3283.00
10,2020-11,2864.00,2864.00,0.00,0.0,0.0,0.0,0.0,2864.00,0.00,2864.00
11,2020-12,2439.00,2439.00,0.00,0.0,0.0,0.0,0.0,2439.00,0.00,2439.00
12,2021-01,18205.00,18205.00,6500.00,0.0,0.0,0.0,0.0,11705.00,13000.00,-1295.00
13,2021-02,15840.00,15840.00,5000.00,0.0,0.0,0.0,0.0,10840.00,10000.00,840.00
14,2021-03,26684.60,26684.60,9454.00,0.0,0.0,0.0,0.0,17230.60,18908.00,-1677.40
15,2021-04,16346.72,16346.72,7558.00,0.0,0.0,0.0,0.0,8788.72,15116.00,-6327.28
16,2021-05,4246.28,4246.28,1376.00,0.0,0.0,0.0,0.0,2870.28,2752.00,118.28
17,2021-06,16402.00,16402.00,7707.00,0.0,0.0,0.0,0.0,8695.00,15414.00,-6719.00
18,2021-07,12761.00,12761.00,6295.00,0.0,0.0,0.0,0.0,6466.00,12590.00,-6124.00
19,2021-08,8496.00,8496.00,4269.00,0.0,0.0,0.0,0.0,4227.00,8538.00,-4311.00
20,2021-09,5218.00,5218.00,2496.00,0.0,0.0,0.0,0.0,2722.00,4992.00,-2270.00
21,2021-10,2241.93,2241.93,1115.00,0.0,0.0,0.0,0.0,1126.93,2230.00,-1103.07
22,2021-11,9249.07,9249.07,2330.00,0.0,0.0,0.0,0.0,6919.07,4660.00,2259.07
23,2021-12,4842.67,4842.67,2275.00,0.0,0.0,0.0,0.0,2567.67,4550.00,-1982.33
24,2022-01,15991.47,15991.47,7929.47,0.0,0.0,0.0,0.0,8062.00,15858.94,-7796.94
25,2022-02,21910.84,21910.84,7929.47,0.0,0.0,0.0,0.0,13981.37,15858.94,-1877.57
26,2022-03,14165.00,14165.00,2529.00,0.0,0.0,0.0,0.0,11636.00,5058.00,6578.00
27,2022-04,9925.93,9925.93,3494.00,0.0,0.0,0.0,0.0,6431.93,6988.00,-556.07
28,2022-05,9376.00,9376.00,2156.00,0.0,0.0,0.0,0.0,7220.00,4312.00,2908.00
29,2022-06,18121.05,18121.05,2604.15,0.0,0.0,0.0,0.0,15516.90,5208.30,10308.60
30,2022-07,17237.47,17237.47,5911.00,0.0,0.0,0.0,0.0,11326.47,11822.00,-495.53
31,2022-08,12627.00,12627.00,4424.00,0.0,0.0,0.0,0.0,8203.00,8848.00,-645.00
32,2022-09,24391.18,24391.18,8380.26,0.0,0.0,0.0,0.0,16010.92,16760.52,-749.60

## Merge Final

In [32]:
merge.columns
t = merge[['Month - Year','Date','Position','Salary + Comission','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Position':'Name','Salary + Comission':'Value $'})
t['Type'] = 'Employee'
t2 = merge_tools[['Month - Year','Date','Tool','Value','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Tool':'Name','Value':'Value $'})
t2['Type'] = 'Tool'
t3 = merge_others[['Month - Year','Date','Tool','Value','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Tool':'Name','Value':'Value $'})
t3['Type'] = 'Others'

t_m = pd.concat([t,t2,t3])

t_f = t_m.groupby('Month - Year').sum().reset_index()
t_f

,Month - Year,Value $,MQL WS,SQL WS,OPP WS,Deal WS,B2B WS,B2C WS,Marketing Cost
0,2018-01,2779.44,0.0000,0.0000,0.0000,0.0000,1605.4400,1174.0000,1380.00
1,2018-02,3932.44,0.0000,0.0000,0.0000,0.0000,1412.4400,2520.0000,2500.00
2,2018-03,2778.44,0.0000,0.0000,0.0000,0.0000,1258.4400,1520.0000,1500.00
3,2018-04,2859.00,0.0000,0.0000,0.0000,0.0000,1339.0000,1520.0000,1500.00
4,2018-05,4360.00,0.0000,0.0000,0.0000,0.0000,1340.0000,3020.0000,3000.00
5,2018-06,11368.00,0.0000,0.0000,0.0000,0.0000,1848.0000,9520.0000,9900.00
6,2018-07,8024.00,0.0000,0.0000,0.0000,0.0000,1504.0000,6520.0000,6160.00
7,2018-08,5911.00,0.0000,0.0000,0.0000,0.0000,1391.0000,4520.0000,4500.00
8,2018-09,4442.00,0.0000,0.0000,0.0000,0.0000,922.0000,3520.0000,3500.00
9,2018-10,3869.00,0.0000,0.0000,0.0000,0.0000,849.0000,3020.0000,3000.00
10,2018-11,4743.00,0.0000,0.0000,0.0000,0.0000,723.0000,4020.0000,4000.00
11,2019-01,5219.00,4865.7500,122.7500,115.2500,115.2500,5219.0000,0.0000,9000.00
12,2019-02,4413.00,3873.7500,127.7500,205.7500,205.7500,4413.0000,0.0000,7000.00
13,2019-03,3344.00,2808.7500,128.7500,203.2500,203.2500,3344.0000,0.0000,5000.00
14,2019-04,2929.00,1818.7500,456.7500,326.7500,326.7500,2929.0000,0.0000,3000.00
15,2019-05,1872.00,868.7500,352.7500,325.2500,325.2500,1872.0000,0.0000,1016.00
16,2019-06,3221.80,1789.7500,610.1500,346.2500,346.2500,3092.4000,0.0000,2786.00
17,2019-07,3101.80,1666.5000,662.9000,321.5000,321.5000,2972.4000,0.0000,2510.00
18,2019-08,3654.80,2462.0000,591.4000,236.0000,236.0000,3525.4000,0.0000,4238.00
19,2019-09,7159.80,3782.5000,758.9000,1244.5000,1244.5000,7030.4000,0.0000,6632.00
20,2019-10,6102.00,4381.2500,838.2500,376.7500,376.7500,5973.0000,0.0000,7810.00
21,2019-11,9258.00,6187.2500,987.2500,977.2500,977.2500,9129.0000,0.0000,11402.00
22,2019-12,8051.00,5931.0000,905.0000,508.0000,508.0000,7852.0000,0.0000,10674.00
23,2020-01,78814.96,17417.8700,20413.1700,14121.4480,15033.4360,68328.9240,11630.0360,18550.30
24,2020-02,85699.81,18937.3450,20886.3450,15805.1980,16899.3360,74284.2240,12972.5860,22400.90
25,2020-03,86804.40,17399.1150,23383.6150,15931.3880,17016.4160,74908.4840,12874.8660,17388.18
26,2020-04,76347.37,12762.8700,16748.0300,17398.5640,16455.1080,63364.5720,12783.7980,11090.86
27,2020-05,57662.17,13029.6300,16155.6600,9533.3760,12237.5970,50956.2630,6506.9070,12881.10
28,2020-06,66279.34,14751.0300,15567.7600,13279.9200,12254.0650,56375.7750,10227.5650,14466.64
29,2020-07,66880.35,13732.3275,12893.4875,15113.6975,13817.6225,55557.1350,11074.2150,13157.44
30,2020-08,70009.14,17877.9300,15279.7000,13709.4040,12885.5530,59752.5870,10007.5530,15773.72
31,2020-09,71892.25,18640.0450,13925.7150,14271.0410,14924.3220,61761.1230,9773.1570,15477.36
32,2020-10,78738.58,18301.9775,15896.7775,16400.7295,15675.5415,66275.0260,12024.5640,17466.40
33,2020-11,69918.18,20018.8075,14418.4775,12957.0395,12677.8765,60072.2010,9429.4890,18094.38
34,2020-12,2439.00,0.0000,0.0000,0.0000,2439.0000,2439.0000,0.0000,0.00
35,2021-01,29621.00,7299.0000,2206.0000,856.0000,12561.0000,29422.0000,6500.0000,24616.00
36,2021-02,103983.39,19014.1900,16960.9300,18363.5445,23106.6721,82445.3366,26339.0534,20598.98
37,2021-03,41589.25,7849.7500,2168.5000,1643.2000,18873.8000,39989.2500,9454.0000,31082.50
38,2021-04,133590.90,30446.2250,25617.8450,21524.9935,23141.2643,107367.0178,32661.5722,46118.46
39,2021-05,109176.93,34007.1550,24441.5150,16368.3180,13839.8364,88618.4544,20271.6656,36907.28
40,2021-06,120273.57,28151.8700,23509.9300,18273.4195,20703.2471,96981.0466,29635.1034,39125.46
41,2021-07,133238.56,33083.9750,26487.7350,21407.6180,20756.9724,106640.7704,31203.2596,44153.48
42,2021-08,129538.28,34292.8000,25233.2700,21576.8485,18578.4433,102335.5418,29557.9182,36181.62
43,2021-09,122078.70,31866.3900,27631.0700,20472.9215,16747.5627,97441.1742,25061.7558,33716.56
44,2021-10,115260.55,29041.2200,25760.6800,20422.2520,14719.8956,90693.5476,25017.5024,29975.22
45,2021-11,123811.81,28752.5525,25675.0925,21100.8645,20966.1881,98470.3076,27018.1124,28279.50
46,2021-12,4842.67,0.0000,0.0000,0.0000,2567.6700,4842.6700,2275.0000,4550.00
47,2022-01,138061.97,46310.7400,26521.2900,15030.8810,17339.8686,113132.2496,32859.1904,74060.40
48,2022-02,144897.74,36115.7150,27885.3750,18475.9930,25847.2158,116253.7688,36573.4412,43813.58
49,2022-03,184137.61,47675.5850,37671.9450,26350.2940,28408.9464,142635.7704,44030.8396,46960.78
50,2022-04,162931.79,35034.8500,28708.8200,27763.0170,24074.1002,119074.7872,47351.0028,23130.76
51,2022-05,200336.36,32473.4100,36581.4300,37601.5160,30810.7696,139623.1256,62869.2344,18754.88
52,2022-06,168074.71,41678.9700,35485.9400,22848.1050,30237.2430,132854.4080,37824.4520,23103.32
53,2022-07,213165.41,48424.3300,44205.7500,32018.7580,31567.1248,162126.9628,56949.4472,36031.88
54,2022-08,169537.82,42597.9100,34697.0400,24937.8410,24218.7846,130875.5756,43086.2444,28546.72
55,2022-09,182338.67,44568.6600,38612.5300,23394.5700,31012.3420,145968.3620,44750.5680,39169.78
56,2022-10,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00
57,2022-11,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00

## Quarter

In [33]:
merge_tools['Quarter - Year'] = merge_tools['Date'].dt.year.astype(str) + ' ' + merge_tools['Date'].dt.quarter.astype(str)

merge['Quarter - Year'] = merge['Date'].dt.year.astype(str) + ' ' + merge['Date'].dt.quarter.astype(str)

merge_others['Quarter - Year'] = merge_others['Date'].dt.year.astype(str) + ' ' + merge_others['Date'].dt.quarter.astype(str)


t_q = merge[['Quarter - Year','Date','Position','Salary + Comission','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Position':'Name','Salary + Comission':'Value $'})
t_q['Type'] = 'Employee'
t2_q = merge_tools[['Quarter - Year','Date','Tool','Value','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Tool':'Name','Value':'Value $'})
t2_q['Type'] = 'Tool'

t3_q = merge_others[['Quarter - Year','Date','Tool','Value','MQL WS','SQL WS','OPP WS','Deal WS','B2B WS','B2C WS','Marketing Cost']].rename(columns={'Tool':'Name','Value':'Value $'})
t3_q['Type'] = 'Tool'

t_m_q = pd.concat([t_q,t2_q,t3_q])

t_f_q = t_m_q.groupby('Quarter - Year').sum().reset_index()
t_f_q

,Quarter - Year,Value $,MQL WS,SQL WS,OPP WS,Deal WS,B2B WS,B2C WS,Marketing Cost
0,2018 1,9490.32,0.0000,0.0000,0.0000,0.0000,4276.3200,5214.0000,5380.00
1,2018 2,18587.00,0.0000,0.0000,0.0000,0.0000,4527.0000,14060.0000,14400.00
2,2018 3,18377.00,0.0000,0.0000,0.0000,0.0000,3817.0000,14560.0000,14160.00
3,2018 4,8612.00,0.0000,0.0000,0.0000,0.0000,1572.0000,7040.0000,7000.00
4,2019 1,12976.00,11548.2500,379.2500,524.2500,524.2500,12976.0000,0.0000,21000.00
5,2019 2,8022.80,4477.2500,1419.6500,998.2500,998.2500,7893.4000,0.0000,6802.00
6,2019 3,13916.40,7911.0000,2013.2000,1802.0000,1802.0000,13528.2000,0.0000,13380.00
7,2019 4,23411.00,16499.5000,2730.5000,1862.0000,1862.0000,22954.0000,0.0000,29886.00
8,2020 1,251319.17,53754.3300,64683.1300,45858.0340,48949.1880,217521.6320,37477.4880,58339.38
9,2020 2,200288.88,40543.5300,48471.4500,40211.8600,40946.7700,170696.6100,29518.2700,38438.60
10,2020 3,208781.74,50250.3025,42098.9025,43094.1425,41627.4975,177070.8450,30854.9250,44408.52
11,2020 4,151095.76,38320.7850,30315.2550,29357.7690,30792.4180,128786.2270,21454.0530,35560.78
12,2021 1,175193.64,34162.9400,21335.4300,20862.7445,54541.4721,151856.5866,42293.0534,76297.48
13,2021 2,363041.40,92605.2500,73569.2900,56166.7310,57684.3478,292966.5188,82568.3412,122151.20
14,2021 3,384855.54,99243.1650,79352.0750,63457.3880,56082.9784,306417.4864,85822.9336,114051.66
15,2021 4,243915.03,57793.7725,51435.7725,41523.1165,38253.7537,194006.5252,54310.6148,62804.72
16,2022 1,467097.32,130102.0400,92078.6100,59857.1680,71596.0308,372021.7888,113463.4712,164834.76
17,2022 2,531342.86,109187.2300,100776.1900,88212.6380,85122.1128,391552.3208,148044.6892,64988.96
18,2022 3,565041.90,135590.9000,117515.3200,80351.1690,86798.2514,438970.9004,144786.2596,103748.38
19,2022 4,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00

# CRM Information

## CRM - Monthly

In [18]:
!pip install -q simple_salesforce
# installing salesforce access and giving auth
import requests
consumer_key = "3MVG9p1Q1BCe9GmCjBcLl1WrzgMV_tAn1ES_O4voJ3S_nbtljEik0gqbgz7Im43Y5CmxgeBHU3GOPAeA_Or7u"
consumer_secret = "BB065F99EDDDFCC55B0AE8A65786FC186513F0BEB07C7FFE0E13E13A4A01060F"
redirect_url = "http://localhost/"
sf_user = "v.ramos@slangapp.com"
sf_pass = "Slangmonogatari17*"
auth_url = "https://login.salesforce.com/services/oauth2/token"

response = requests.post(auth_url, data= {'client_id':consumer_key,
                                          'client_secret':consumer_secret,
                                          'grant_type':'password',
                                          'username':sf_user,
                                          'password':sf_pass})
json_res = response.json()
access_token = json_res['access_token']
auth = {'Authorization':'Bearer ' + access_token}
instance_url = json_res['instance_url']

url = instance_url + '/services/data/v45.0/sobjects/contact/describe'
res = requests.get(url,headers=auth)
r = res.json()

# Accessing the API and creating a SOQL Function to transform json results into dataframe
from simple_salesforce import Salesforce
isSandbox = 0
sec_token = 'D0UBgLd33cgTRj8WI9FibbSy'
sf = Salesforce(username = sf_user,
                password = sf_pass,
                security_token = sec_token,
                instance_url = instance_url)

def SOQL(SOQL):
  qResult = sf.query(SOQL)
  print('Record Count {0}'.format(qResult['totalSize']))
  isDone = qResult['done'];
  if isDone == True:
    df = pd.DataFrame(qResult['records'])

  while isDone != True:
    try:
        if qResult['done'] != True:
          df = df.append(pd.DataFrame(qResult['records']));
          qResult = sf.query_more(qResult['nextRecordsUrl'], True)
        else:
          df = df.append(pd.DataFrame(qResult['records']))
          isDone = True;
          print('completed')
          break;
    except NameError:
      df = pd.DataFrame(qResult['records'])
      qry = sf.query_more(qResult['nextRecordsUrl'], True)
      
  return df.drop('attributes',axis=1);

#Creating the Dataframe for Outreach
sf_total = SOQL("SELECT ID, CC_MQL_DATE__C, C_MQL__C, CC_SQL_DATE__C, C_SQL__C, CC_OPPORTUNITY_DATE__C, C_OPP__C, CLOSEDATE, C_CLOSE__C, DEAL_OWNER_NAME__C, CC_DEAL_TYPE__C, STAGENAME FROM OPPORTUNITY WHERE ISDELETED = FALSE")

     || 120 kB 4.8 MB/s
     || 101 kB 10.9 MB/s
     || 214 kB 58.0 MB/s
     || 4.0 MB 59.2 MB/s
     || 41 kB 658 kB/s
     || 54 kB 2.6 MB/s
Record Count 15881
completed

In [19]:
sf_total[['CC_MQL_Date__c','CC_SQL_Date__c','CC_Opportunity_Date__c','CloseDate']] = sf_total[['CC_MQL_Date__c','CC_SQL_Date__c','CC_Opportunity_Date__c','CloseDate']].apply(pd.to_datetime)

mqls = sf_total[(sf_total['C_MQL__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_MQL__c','CC_MQL_Date__c']]
mqls = mqls.groupby(mqls['CC_MQL_Date__c'].dt.strftime('%Y-%m')).sum().reset_index()

sqls = sf_total[(sf_total['C_SQL__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_SQL__c','CC_SQL_Date__c']]
sqls = sqls.groupby(sqls['CC_SQL_Date__c'].dt.strftime('%Y-%m')).sum().reset_index()

opps = sf_total[(sf_total['C_OPP__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_OPP__c','CC_Opportunity_Date__c']]
opps = opps.groupby(opps['CC_Opportunity_Date__c'].dt.strftime('%Y-%m')).sum().reset_index()

new_booking = sf_total[(sf_total['C_Close__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))
                    & (sf_total['StageName'] == 'Closed Won')][['C_Close__c','CloseDate']]
new_booking = new_booking.groupby(new_booking['CloseDate'].dt.strftime('%Y-%m')).sum().reset_index()

funnel = mqls.merge(sqls,left_on='CC_MQL_Date__c',right_on='CC_SQL_Date__c',how='left') \
          .merge(opps,left_on='CC_MQL_Date__c',right_on='CC_Opportunity_Date__c',how='left') \
              .merge(new_booking,left_on='CC_MQL_Date__c',right_on='CloseDate',how='left') \
              [['CC_MQL_Date__c','C_MQL__c','C_SQL__c','C_OPP__c','C_Close__c']] \
              .rename(columns={'CC_MQL_Date__c':'Month - Year',
                                  'C_MQL__c':'MQL','C_SQL__c':'SQL','C_OPP__c':'OPP','C_Close__c':'Deal'})
funnel

   Month - Year    MQL    SQL   OPP  Deal
0       2020-01  166.0   67.0  26.0   2.0
1       2020-02  212.0  107.0  51.0   9.0
2       2020-03  146.0   84.0  45.0   4.0
3       2020-04  143.0  100.0  42.0   4.0
4       2020-05  147.0   96.0  53.0   7.0
5       2020-06   92.0   75.0  32.0  10.0
6       2020-07  238.0   70.0  33.0   9.0
7       2020-08  180.0   82.0  26.0   4.0
8       2020-09  178.0   77.0  31.0   9.0
9       2020-10  104.0   70.0  32.0   8.0
10      2020-11  113.0   67.0  27.0   7.0
11      2020-12   86.0   49.0  22.0   4.0
12      2021-01  145.0   56.0  25.0   7.0
13      2021-02  210.0   76.0  41.0  12.0
14      2021-03  279.0  123.0  53.0   4.0
15      2021-04  289.0  134.0  48.0   9.0
16      2021-05  281.0  150.0  62.0  15.0
17      2021-06  269.0  154.0  57.0   5.0
18      2021-07  238.0  127.0  54.0   8.0
19      2021-08  270.0  127.0  56.0   7.0
20      2021-09  277.0  158.0  68.0   9.0
21      2021-10  273.0  154.0  62.0  12.0
22      2021-11  244.0  144.0  69.0  14.0
23      2021-12  210.0   98.0  46.0  14.0
24      2022-01  277.0  161.0  58.0  12.0
25      2022-02  314.0  152.0  72.0   9.0
26      2022-03  370.0  158.0  68.0  12.0
27      2022-04  235.0  107.0  31.0   6.0
28      2022-05  265.0  121.0  49.0  13.0
29      2022-06  234.0  127.0  55.0  12.0
30      2022-07  264.0  145.0  42.0  12.0
31      2022-08  302.0  172.0  72.0  12.0
32      2022-09  308.0  171.0  73.0  14.0
33      2022-10  273.0  162.0  65.0   8.0
34      2022-11  242.0  156.0  72.0   8.0
35      2022-12   61.0   41.0  11.0   1.0

## CRM Quarterly

In [20]:
sf_total[['CC_MQL_Date__c','CC_SQL_Date__c','CC_Opportunity_Date__c','CloseDate']] = sf_total[['CC_MQL_Date__c','CC_SQL_Date__c','CC_Opportunity_Date__c','CloseDate']].apply(pd.to_datetime)

mqls_q = sf_total[(sf_total['C_MQL__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_MQL__c','CC_MQL_Date__c']]
mqls_q = mqls_q.groupby(mqls_q['CC_MQL_Date__c'].dt.year.astype(str) + ' ' + mqls_q['CC_MQL_Date__c'].dt.quarter.astype(str)).sum().reset_index()

sqls_q = sf_total[(sf_total['C_SQL__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_SQL__c','CC_SQL_Date__c']]
sqls_q = sqls_q.groupby(sqls_q['CC_SQL_Date__c'].dt.year.astype(str) + ' ' + sqls_q['CC_SQL_Date__c'].dt.quarter.astype(str)).sum().reset_index()

opps_q = sf_total[(sf_total['C_OPP__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected','Pilot','Stand Alone'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))][['C_OPP__c','CC_Opportunity_Date__c']]
opps_q = opps_q.groupby(opps_q['CC_Opportunity_Date__c'].dt.year.astype(str) + ' ' + opps_q['CC_Opportunity_Date__c'].dt.quarter.astype(str)).sum().reset_index()

new_booking_q = sf_total[(sf_total['C_Close__c']>0) 
                & (~sf_total['CC_Deal_Type__c'].isin(['Expansion','Renewal','Resurected'])) 
                  & (~sf_total['Deal_Owner_Name__c'].isin(['Juan Toro','Clouder Consulting','Vinicius Ramos','Maria Pardo','Juan Henao']))
                    & (sf_total['StageName'] == 'Closed Won')][['C_Close__c','CloseDate']]
new_booking_q = new_booking_q.groupby(new_booking_q['CloseDate'].dt.year.astype(str) + ' ' + new_booking_q['CloseDate'].dt.quarter.astype(str)).sum().reset_index()

funnel_q = mqls_q.merge(sqls_q,left_on='CC_MQL_Date__c',right_on='CC_SQL_Date__c',how='left') \
          .merge(opps_q,left_on='CC_MQL_Date__c',right_on='CC_Opportunity_Date__c',how='left') \
              .merge(new_booking_q,left_on='CC_MQL_Date__c',right_on='CloseDate',how='left') \
              [['CC_MQL_Date__c','C_MQL__c','C_SQL__c','C_OPP__c','C_Close__c']] \
              .rename(columns={'CC_MQL_Date__c':'Quarter - Year',
                                  'C_MQL__c':'MQL','C_SQL__c':'SQL','C_OPP__c':'OPP','C_Close__c':'Deal'})
funnel_q

   Quarter - Year    MQL    SQL    OPP  Deal
0          2020 1  524.0  258.0  122.0  15.0
1          2020 2  382.0  271.0  127.0  21.0
2          2020 3  596.0  229.0   90.0  22.0
3          2020 4  303.0  186.0   81.0  19.0
4          2021 1  634.0  255.0  119.0  23.0
5          2021 2  839.0  438.0  167.0  29.0
6          2021 3  785.0  412.0  178.0  24.0
7          2021 4  727.0  396.0  177.0  40.0
8          2022 1  961.0  471.0  198.0  33.0
9          2022 2  734.0  355.0  135.0  31.0
10         2022 3  874.0  488.0  187.0  38.0
11         2022 4  576.0  359.0  148.0  17.0

# Model

## Monthly

In [34]:
g = t_f.merge(funnel, on= 'Month - Year',how='left')

g['MQL Cost'] = g['MQL WS']/g['MQL']
g['SQL Cost'] = g['SQL WS']/g['SQL']
g['OPP Cost'] = g['OPP WS']/g['OPP']
g['Deal Cost'] = g['Deal WS']/g['Deal']

g['Sales Cost'] = ((g['Deal WS'] + g['MQL WS'] + g['SQL WS'] + g['OPP WS']) - g['Marketing Cost'])
g['New Booking Cost'] = (g['Sales Cost'] + g['Marketing Cost'])/g['Deal']
g

,Month - Year,Value $,MQL WS,SQL WS,OPP WS,Deal WS,B2B WS,B2C WS,Marketing Cost,MQL,SQL,OPP,Deal,MQL Cost,SQL Cost,OPP Cost,Deal Cost,Sales Cost,New Booking Cost
0,2018-01,2779.44,0.0000,0.0000,0.0000,0.0000,1605.4400,1174.0000,1380.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1380.0000,NaN
1,2018-02,3932.44,0.0000,0.0000,0.0000,0.0000,1412.4400,2520.0000,2500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2500.0000,NaN
2,2018-03,2778.44,0.0000,0.0000,0.0000,0.0000,1258.4400,1520.0000,1500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1500.0000,NaN
3,2018-04,2859.00,0.0000,0.0000,0.0000,0.0000,1339.0000,1520.0000,1500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1500.0000,NaN
4,2018-05,4360.00,0.0000,0.0000,0.0000,0.0000,1340.0000,3020.0000,3000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3000.0000,NaN
5,2018-06,11368.00,0.0000,0.0000,0.0000,0.0000,1848.0000,9520.0000,9900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9900.0000,NaN
6,2018-07,8024.00,0.0000,0.0000,0.0000,0.0000,1504.0000,6520.0000,6160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6160.0000,NaN
7,2018-08,5911.00,0.0000,0.0000,0.0000,0.0000,1391.0000,4520.0000,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4500.0000,NaN
8,2018-09,4442.00,0.0000,0.0000,0.0000,0.0000,922.0000,3520.0000,3500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3500.0000,NaN
9,2018-10,3869.00,0.0000,0.0000,0.0000,0.0000,849.0000,3020.0000,3000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3000.0000,NaN
10,2018-11,4743.00,0.0000,0.0000,0.0000,0.0000,723.0000,4020.0000,4000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4000.0000,NaN
11,2019-01,5219.00,4865.7500,122.7500,115.2500,115.2500,5219.0000,0.0000,9000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3781.0000,NaN
12,2019-02,4413.00,3873.7500,127.7500,205.7500,205.7500,4413.0000,0.0000,7000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2587.0000,NaN
13,2019-03,3344.00,2808.7500,128.7500,203.2500,203.2500,3344.0000,0.0000,5000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1656.0000,NaN
14,2019-04,2929.00,1818.7500,456.7500,326.7500,326.7500,2929.0000,0.0000,3000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-71.0000,NaN
15,2019-05,1872.00,868.7500,352.7500,325.2500,325.2500,1872.0000,0.0000,1016.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,856.0000,NaN
16,2019-06,3221.80,1789.7500,610.1500,346.2500,346.2500,3092.4000,0.0000,2786.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306.4000,NaN
17,2019-07,3101.80,1666.5000,662.9000,321.5000,321.5000,2972.4000,0.0000,2510.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,462.4000,NaN
18,2019-08,3654.80,2462.0000,591.4000,236.0000,236.0000,3525.4000,0.0000,4238.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-712.6000,NaN
19,2019-09,7159.80,3782.5000,758.9000,1244.5000,1244.5000,7030.4000,0.0000,6632.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398.4000,NaN
20,2019-10,6102.00,4381.2500,838.2500,376.7500,376.7500,5973.0000,0.0000,7810.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1837.0000,NaN
21,2019-11,9258.00,6187.2500,987.2500,977.2500,977.2500,9129.0000,0.0000,11402.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2273.0000,NaN
22,2019-12,8051.00,5931.0000,905.0000,508.0000,508.0000,7852.0000,0.0000,10674.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2822.0000,NaN
23,2020-01,78814.96,17417.8700,20413.1700,14121.4480,15033.4360,68328.9240,11630.0360,18550.30,166.0,67.0,26.0,2.0,104.926928,304.674179,543.132615,7516.718000,48435.6240,33492.962000
24,2020-02,85699.81,18937.3450,20886.3450,15805.1980,16899.3360,74284.2240,12972.5860,22400.90,212.0,107.0,51.0,9.0,89.327099,195.199486,309.905843,1877.704000,50127.3240,8058.691556
25,2020-03,86804.40,17399.1150,23383.6150,15931.3880,17016.4160,74908.4840,12874.8660,17388.18,146.0,84.0,45.0,4.0,119.172021,278.376369,354.030844,4254.104000,56342.3540,18432.633500
26,2020-04,76347.37,12762.8700,16748.0300,17398.5640,16455.1080,63364.5720,12783.7980,11090.86,143.0,100.0,42.0,4.0,89.250839,167.480300,414.251524,4113.777000,52273.7120,15841.143000
27,2020-05,57662.17,13029.6300,16155.6600,9533.3760,12237.5970,50956.2630,6506.9070,12881.10,147.0,96.0,53.0,7.0,88.636939,168.288125,179.875019,1748.228143,38075.1630,7279.466143
28,2020-06,66279.34,14751.0300,15567.7600,13279.9200,12254.0650,56375.7750,10227.5650,14466.64,92.0,75.0,32.0,10.0,160.337283,207.570133,414.997500,1225.406500,41386.1350,5585.277500
29,2020-07,66880.35,13732.3275,12893.4875,15113.6975,13817.6225,55557.1350,11074.2150,13157.44,238.0,70.0,33.0,9.0,57.698855,184.192679,457.990833,1535.291389,42399.6950,6173.015000
30,2020-08,70009.14,17877.9300,15279.7000,13709.4040,12885.5530,59752.5870,10007.5530,15773.72,180.0,82.0,26.0,4.0,99.321833,186.337805,527.284769,3221.388250,43978.8670,14938.146750
31,2020-09,71892.25,18640.0450,13925.7150,14271.0410,14924.3220,61761.1230,9773.1570,15477.36,178.0,77.0,31.0,9.0,104.719354,180.853442,460.356161,1658.258000,46283.7630,6862.347000
32,2020-10,78738.58,18301.9775,15896.7775,16400.7295,15675.5415,66275.0260,12024.5640,17466.40,104.0,70.0,32.0,8.0,175.980553,227.096821,512.522797,1959.442687,48808.6260,8284.378250
33,2020-11,69918.18,20018.8075,14418.4775,12957.0395,12677.8765,60072.2010,9429.4890,18094.38,113.0,67.0,27.0,7.0,177.157588,215.201157,479.890352,1811.125214,41977.8210,8581.743000
34,2020-12,2439.00,0.0000,0.0000,0.0000,2439.0000,2439.0000,0.0000,0.00,86.0,49.0,22.0,4.0,0.000000,0.000000,0.000000,609.750000,2439.0000,609.750000
35,2021-01,29621.00,7299.0000,2206.0000,856.0000,12561.0000,29422.0000,6500.0000,24616.00,145.0,56.0,25.0,7.0,50.337931,39.392857,34.240000,1794.428571,-1694.0000,3274.571429
36,2021-02,103983.39,19014.1900,16960.9300,18363.5445,23106.6721,82445.3366,26339.0534,20598.98,210.0,76.0,41.0,12.0,90.543762,223.170132,447.891329,1925.556008,56846.3566,6453.778050
37,2021-03,41589.25,7849.7500,2168.5000,1643.2000,18873.8000,39989.2500,9454.0000,31082.50,279.0,123.0,53.0,4.0,28.135305,17.630081,31.003774,4718.450000,-547.2500,7633.812500
38,2021-04,133590.90,30446.2250,25617.8450,21524.9935,23141.2643,107367.0178,32661.5722,46118.46,289.0,134.0,48.0,9.0,105.350260,191.177948,448.437365,2571.251589,54611.8678,11192.258644
39,2021-05,109176.93,34007.1550,24441.5150,16368.3180,13839.8364,88618.4544,20271.6656,36907.28,281.0,150.0,62.0,15.0,121.021904,162.943433,264.005129,922.655760,51749.5444,5910.454960
40,2021-06,120273.57,28151.8700,23509.9300,18273.4195,20703.2471,96981.0466,29635.1034,39125.46,269.0,154.0,57.0,5.0,104.653792,152.661883,320.586307,4140.649420,51513.0066,18127.693320
41,2021-07,133238.56,33083.9750,26487.7350,21407.6180,20756.9724,106640.7704,31203.2596,44153.48,238.0,127.0,54.0,8.0,139.008298,208.564843,396.437370,2594.621550,57582.8204,12717.037550
42,2021-08,129538.28,34292.8000,25233.2700,21576.8485,18578.4433,102335.5418,29557.9182,36181.62,270.0,127.0,56.0,7.0,127.010370,198.687165,385.300866,2654.063329,63499.7418,14240.194543
43,2021-09,122078.70,31866.3900,27631.0700,20472.9215,16747.5627,97441.1742,25061.7558,33716.56,277.0,158.0,68.0,9.0,115.041119,174.880190,301.072375,1860.840300,63001.3842,10746.438244
44,2021-10,115260.55,29041.2200,25760.6800,20422.2520,14719.8956,90693.5476,25017.5024,29975.22,273.0,154.0,62.0,12.0,106.378095,167.277143,329.391161,1226.657967,59968.8276,7495.337300
45,2021-11,123811.81,28752.5525,25675.0925,21100.8645,20966.1881,98470.3076,27018.1124,28279.50,244.0,144.0,69.0,14.0,117.838330,178.299253,305.809630,1497.584864,68215.1976,6892.478400
46,2021-12,4842.67,0.0000,0.0000,0.0000,2567.6700,4842.6700,2275.0000,4550.00,210.0,98.0,46.0,14.0,0.000000,0.000000,0.000000,183.405000,-1982.3300,183.405000
47,2022-01,138061.97,46310.7400,26521.2900,15030.8810,17339.8686,113132.2496,32859.1904,74060.40,277.0,161.0,58.0,12.0,167.186787,164.728509,259.153121,1444.989050,31142.3796,8766.898300
48,2022-02,144897.74,36115.7150,27885.3750,18475.9930,25847.2158,116253.7688,36573.4412,43813.58,314.0,152.0,72.0,9.0,115.018201,183.456414,256.611014,2871.912867,64510.7188,12036.033200
49,2022-03,184137.61,47675.5850,37671.9450,26350.2940,28408.9464,142635.7704,44030.8396,46960.78,370.0,158.0,68.0,12.0,128.852932,238.430032,387.504324,2367.412200,93145.9904,11675.564200
50,2022-04,162931.79,35034.8500,28708.8200,27763.0170,24074.1002,119074.7872,47351.0028,23130.76,235.0,107.0,31.0,6.0,149.084468,268.306729,895.581194,4012.350033,92450.0272,19263.464533
51,2022-05,200336.36,32473.4100,36581.4300,37601.5160,30810.7696,139623.1256,62869.2344,18754.88,265.0,121.0,49.0,13.0,122.541170,302.325868,767.377878,2370.059200,118712.2456,10574.394277
52,2022-06,168074.71,41678.9700,35485.9400,22848.1050,30237.2430,132854.4080,37824.4520,23103.32,234.0,127.0,55.0,12.0,178.115256,279.416850,415.420091,2519.770250,107146.9380,10854.188167
53,2022-07,213165.41,48424.3300,44205.7500,32018.7580,31567.1248,162126.9628,56949.4472,36031.88,264.0,145.0,42.0,12.0,183.425492,304.867241,762.351381,2630.593733,120184.0828,13017.996900
54,2022-08,169537.82,42597.9100,34697.0400,24937.8410,24218.7846,130875.5756,43086.2444,28546.72,302.0,172.0,72.0,12.0,141.052682,201.726977,346.358903,2018.232050,97904.8556,10537.631300
55,2022-09,182338.67,44568.6600,38612.5300,23394.5700,31012.3420,145968.3620,44750.5680,39169.78,308.0,171.0,73.0,14.0,144.703442,225.804269,320.473562,2215.167286,98418.3220,9827.721571
56,2022-10,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,273.0,162.0,65.0,8.0,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
57,2022-11,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,242.0,156.0,72.0,8.0,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000

## Quarter

In [35]:
g_q = t_f_q.merge(funnel_q, on= 'Quarter - Year',how='left')

g_q['MQL Cost'] = g_q['MQL WS']/g['MQL']
g_q['SQL Cost'] = g_q['SQL WS']/g['SQL']
g_q['OPP Cost'] = g_q['OPP WS']/g['OPP']
g_q['Deal Cost'] = g_q['Deal WS']/g['Deal']

g_q['Sales Cost'] = ((g_q['Deal WS'] + g_q['MQL WS'] + g_q['SQL WS'] + g_q['OPP WS']) - g_q['Marketing Cost'])
g_q['New Booking Cost'] = (g_q['Sales Cost'] + g_q['Marketing Cost'])/g_q['Deal']
g_q

,Quarter - Year,Value $,MQL WS,SQL WS,OPP WS,Deal WS,B2B WS,B2C WS,Marketing Cost,MQL,SQL,OPP,Deal,MQL Cost,SQL Cost,OPP Cost,Deal Cost,Sales Cost,New Booking Cost
0,2018 1,9490.32,0.0000,0.0000,0.0000,0.0000,4276.3200,5214.0000,5380.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5380.0000,NaN
1,2018 2,18587.00,0.0000,0.0000,0.0000,0.0000,4527.0000,14060.0000,14400.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14400.0000,NaN
2,2018 3,18377.00,0.0000,0.0000,0.0000,0.0000,3817.0000,14560.0000,14160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14160.0000,NaN
3,2018 4,8612.00,0.0000,0.0000,0.0000,0.0000,1572.0000,7040.0000,7000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7000.0000,NaN
4,2019 1,12976.00,11548.2500,379.2500,524.2500,524.2500,12976.0000,0.0000,21000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8024.0000,NaN
5,2019 2,8022.80,4477.2500,1419.6500,998.2500,998.2500,7893.4000,0.0000,6802.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1091.4000,NaN
6,2019 3,13916.40,7911.0000,2013.2000,1802.0000,1802.0000,13528.2000,0.0000,13380.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.2000,NaN
7,2019 4,23411.00,16499.5000,2730.5000,1862.0000,1862.0000,22954.0000,0.0000,29886.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6932.0000,NaN
8,2020 1,251319.17,53754.3300,64683.1300,45858.0340,48949.1880,217521.6320,37477.4880,58339.38,524.0,258.0,122.0,15.0,NaN,NaN,NaN,NaN,154905.3020,14216.312133
9,2020 2,200288.88,40543.5300,48471.4500,40211.8600,40946.7700,170696.6100,29518.2700,38438.60,382.0,271.0,127.0,21.0,NaN,NaN,NaN,NaN,131735.0100,8103.505238
10,2020 3,208781.74,50250.3025,42098.9025,43094.1425,41627.4975,177070.8450,30854.9250,44408.52,596.0,229.0,90.0,22.0,NaN,NaN,NaN,NaN,132662.3250,8048.674773
11,2020 4,151095.76,38320.7850,30315.2550,29357.7690,30792.4180,128786.2270,21454.0530,35560.78,303.0,186.0,81.0,19.0,NaN,NaN,NaN,NaN,93225.4470,6778.222474
12,2021 1,175193.64,34162.9400,21335.4300,20862.7445,54541.4721,151856.5866,42293.0534,76297.48,634.0,255.0,119.0,23.0,NaN,NaN,NaN,NaN,54605.1066,5691.416809
13,2021 2,363041.40,92605.2500,73569.2900,56166.7310,57684.3478,292966.5188,82568.3412,122151.20,839.0,438.0,167.0,29.0,NaN,NaN,NaN,NaN,157874.4188,9656.055821
14,2021 3,384855.54,99243.1650,79352.0750,63457.3880,56082.9784,306417.4864,85822.9336,114051.66,785.0,412.0,178.0,24.0,NaN,NaN,NaN,NaN,184083.9464,12422.316933
15,2021 4,243915.03,57793.7725,51435.7725,41523.1165,38253.7537,194006.5252,54310.6148,62804.72,727.0,396.0,177.0,40.0,NaN,NaN,NaN,NaN,126201.6952,4725.160380
16,2022 1,467097.32,130102.0400,92078.6100,59857.1680,71596.0308,372021.7888,113463.4712,164834.76,961.0,471.0,198.0,33.0,NaN,NaN,NaN,NaN,188799.0888,10716.177236
17,2022 2,531342.86,109187.2300,100776.1900,88212.6380,85122.1128,391552.3208,148044.6892,64988.96,734.0,355.0,135.0,31.0,NaN,NaN,NaN,NaN,318309.2108,12364.457123
18,2022 3,565041.90,135590.9000,117515.3200,80351.1690,86798.2514,438970.9004,144786.2596,103748.38,874.0,488.0,187.0,38.0,NaN,NaN,NaN,NaN,316507.2604,11059.358958
19,2022 4,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,576.0,359.0,148.0,17.0,NaN,NaN,NaN,NaN,0.0000,0.000000

# Viz

In [36]:
import plotly.express as px

fig = px.bar(g[pd.to_datetime(g['Month - Year']) >= '2020-01-01'], x='Month - Year', y='New Booking Cost',text_auto='.2s')
fig.update_layout(title_text='New Booking Cost by Month')
fig.show()

In [37]:
fig = px.bar(g_q[pd.to_datetime(g_q['Quarter - Year']) >= '2020-01-01'], x='Quarter - Year', y='New Booking Cost',text_auto='.2s')
fig.update_layout(title_text='New Booking Cost by Quarter')
fig.show()